/*
* Kevin Powell
* https://youtu.be/cCAtD_BAHNw
*/
*,
*::before,
*::after {
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
font: inherit; /* Get rid of all font sizes and heights */
}
html {
color-scheme: dark light; /* Default dark */
hanging-punctuation: first last; /* Not supported in Chrome */
}
body {
min-height: 100vh;
padding: 4rem;
}
/* Media responsive */
img,
picture,
svg,
video {
display: block;
max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
text-wrap: balance;
font-size: 1rem;
margin-bottom: 1rem;
margin-top: 3rem;
}
p {
font-size: 1rem;
max-width: 75ch;
text-wrap: pretty; /* Prevents orphans on lines */
margin-bottom: 2rem;
}
ul {
    max-width: 75ch;
    margin-top: 1rem;
}
@media (prefers-reduced-motion: no-preference) {
:has(:target) {
scroll-behavior: smooth;
scroll-padding-top: 3rem;
}
}
.title {
    font-size: 5rem; 
} 
.subtitle {
    font-size: 3rem;
}